.DS_Store
*.pyc
*.log
*.swp
*.retry
.env
*~
/logs
/data
.~*
common/CACHE
portfolio/settings/local.py
portfoliodb
__pycache__
.vagrant/
/.vagrant/
/Vagrantfile.local
!.gitignore
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/portfolio.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
